@import '../../../@theme/styles/themes';


@include nb-install-component() {


  
.pR30{
  padding-right: 30px;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.col-but
{
margin-left: -145px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.contHeadInfo:first-child, .quickContHeadInfo {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: ProximaNovaLtSemibold,sans-serif!important;
    font-style: normal!important;
    font-size: 17px;
    color: #222;
    padding-bottom: 5px;
}
.user img{
  width: 40px;
  
}
.contHeadInfo {
    padding-top: 10px;
}
#secContent_Record_Image {
    margin-bottom: 15px;
}

.srwb .secContent, .rwb .secContent, .lbox .secContent {
    border: 0;
    margin-top: 10px;
}
.mT0 {
    margin-top: 0!important;
}
.secContent {
    min-width: 900px;
    margin-bottom: 40px;
}
.secContent {
    border: 1px solid #D1D1D1;
    border-top: 0;
    background-color: #fff;
}
  button[nbTreeGridRowToggle] {
    background: transparent;
    border: none;
    padding: 0;
  }

  .search-label {
    display: block;
  }
  .search-input {
    margin-bottom: 1rem;
  }

  .nb-column-name {
    width: 100%;
  }

  ::ng-deep .row-toggle-button {
    color: nb-theme(text-basic-color);
  }

  .nb-tree-grid-header-cell,
  .nb-tree-grid-header-cell button {
    text-transform: capitalize;
  }

  @media screen and (min-width: 400px) {
    .nb-column-name,
    .nb-column-size {
      width: 50%;
    }
  }

  @media screen and (min-width: 500px) {
    .nb-column-name,
    .nb-column-size,
    .nb-column-kind {
      width: 33.333%;
    }
  }

  @media screen and (min-width: 600px) {
    .nb-column-name {
      width: 31%;
    }
    .nb-column-size,
    .nb-column-kind,
    .nb-column-items {
      width: 23%;
    }
  }
}
nb-card-body {
  overflow: visible;
  padding-top: 0;

  > * {
    margin-top: 1rem;
  }
}

.full-name-inputs,
.validation-checkboxes {
  display: flex;
  margin: 0 -0.5rem;

  > * {
    margin: 0 0.5rem;
  }
}

.checkbox-radio {
  display: flex;
}

.demo-items {
  flex: 1 0 33%;
}
