<div class="col-lg-12">
  <nb-card>
    <nb-card-header style="background-color: #f8f8f8;">
      <div class="row">
        <div class="col-sm-7 mt-2 ml-2">
          <p style="font-size: 1.714rem;
        color: #000;
        font-family: 'ProximaNovaLight',sans-serif;">Create Contact
          </p>
        </div>
        <div class="col-sm-4">
          <button nbButton status="warning" style="margin-left: 20px;" (click)="goBack()">Cancel</button>
          <button nbButton status="info" style="margin-left: 20px;" (click)="addNew()">Save and New</button>
          <button nbButton status="success" style="margin-left: 20px;" (click)="Save()">Save</button>
        </div>
      </div>

    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12">
          <div class="row ml-4">
            <div class="col-sm-6">
              <div class="container">
                <div class="row form-group">
                  <div class="col-sm-10">
                    <label for="">Lear Source</label>
                    <nb-select class="col-sm-12" placeholder="Chui">
                      <nb-option value="1">SunHxiao</nb-option>
                      <nb-option value="2">Chenfang31</nb-option>
                      <nb-option value="3">Chuichunnu</nb-option>
                    </nb-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="container">
                <div class="row form-group">
                  <div class="col-sm-10">
                    <label for="">Lead Status</label>
                    <nb-select class="col-sm-12" placeholder="Chui">
                      <nb-option value="1">Pending</nb-option>
                      <nb-option value="2">InProgress</nb-option>
                      <nb-option value="3">Completed</nb-option>
                    </nb-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-sm-4" style="float: right;">First Name</div>
                <div class="col-8 col-but">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <nb-select placeholder="Mrs.">
                        <nb-option value="1">Mr.</nb-option>
                        <nb-option value="2">Mrs.</nb-option>
                      </nb-select>
                    </div>
                    <input type="text" nbInput shape="rectangle" placeholder="Rectangle border">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-sm-4" style="float: right;">Last Name</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-sm-4" style="float: right;">Account Name</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-sm-4" style="float: right;">Vendor Name</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-sm-4" style="float: right;">Email</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Title</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Phone</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Department</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Home Phone</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Other Phone</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Home Phone</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Mobile</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Fax</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Assistant</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Date of Birth</div>
                <div class="col-8 col-but"><input nbInput placeholder="Form Picker" style="
                    margin-left:20px;width:300px;" [nbDatepicker]="formpicker">
                  <nb-datepicker #formpicker></nb-datepicker>

                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Belong To</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Assist Phone</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Email Opt Out</div>
                <div class="col-8 col-but" style="margin-left: -100px;">
                  <nb-checkbox status="basic"></nb-checkbox>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
            </div>
          </div>
          <div class="row ml-2">
            <div class="col-sm-9">
              <p style=" font-size: 18x;">Address Information</p>
            </div>

            <div class="col-sm-3">
              <nb-select placeholder="Copy Address" [(selected)]="selectedItem" shape="semi-round"
                style="width:160px;margin-bottom: 20px;">
                <nb-option value="1">Mailing to Other</nb-option>
                <nb-option value="2">Other to Mailing</nb-option>
              </nb-select>
            </div>

          </div>
          <div class="row ml-4">
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Mailing Street</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Mailing City</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Other City</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Mailing State</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Other State</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Mailing Zip</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Other Zip</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Mailing Country</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-4" style="float: right;">Other Country</div>
                <div class="col-8 col-but"><input type="text" nbInput shape="rectangle"
                    style="margin-left:20px;width:300px;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12" style="margin-top: 20px;">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-9">
              <nb-card class="list-card" size="small">
                <nb-card-header>Notes</nb-card-header>
                <nb-list>
                  <nb-list-item *ngFor="let user of users;let i= index;">
                    <div class="col-sm-12">
                      <div class="container">
                        <div class="row">
                          <div class="col-sm-2">
                            <img src="../../../../assets/images/nick1.png" class="img-circle" alt="Cinque Terre"
                              width="60" height="60">
                          </div>
                          <div class="col-sm-10">
                            <div class="row">
                              <div class="col-sm-12">
                                <font style="font-size: 22px;">{{user.title}}</font>

                              </div>
                              <div class="col-sm-12">
                                <div class="row">
                                  <div class="col-sm-1">
                                    Lead-
                                  </div>
                                  <div class="col-sm-3"> <span style="color: blue;">{{user.name}}</span></div>

                                  <div class="col-sm-3">
                                    <a (click)="editNote(i)">Add Note</a>
                                  </div>
                                  <div class="col-sm-4">
                                    8hrs agao by Inder
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                  </nb-list-item>
                </nb-list>
              </nb-card>
            </div>
          </div>
        </div>
        <div class="col-sm-12" style="margin-top: 20px;">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" style="background-color: #eff2f4;">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12" style="margin-top: 10px;" id="inputtitle">
                    <input nbInput type="text" placeholder="Add a title" [(ngModel)]="newUser">
                  </div>
                  <div class="col-sm-12">
                    <textarea nbInput fullWidth placeholder="Add a note" [(ngModel)]="newTitle"
                      style="height:140px;margin-top: 10px;"></textarea>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-2" style="margin-top:10px;">
                        <nb-icon icon="attach"></nb-icon><a href="">Attach File</a>
                      </div>
                      <div class="col-sm-2" id="addtitle" style="margin-top:10px;">Add a title</div>
                      <div class="col-sm-4"></div>
                      <div class="col-sm-4" style="margin-bottom:10px;">
                        <button nbButton status="warning" style="margin-top: 5px;"
                          (click)="cancelNote()">Cancel</button>
                        <button nbButton status="success" (click)="addNote()"
                          style="margin-left:10px;margin-top: 5px;">Save</button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>





    </nb-card-body>
  </nb-card>
</div>