<nb-card>
  <nb-card-body>

    <nb-tabset>
      <nb-tab tabTitle="Job Details">
        <div class="container">
          <div class="row">
            <div class="col-sm-7"></div>
            <div class="col-sm-5">
              <button nbButton status="warning" style="margin-left: 5px;" (click)="gotoBack()">Cancel</button>
              <button nbButton status="success" style="margin-left: 5px;">Save</button>

              <!-- <button nbButton status="info" style="margin-left: 5px;">Generate Tender</button> -->
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row mt-30" style="margin-left:10%;">
            <div class="col-sm-12" style="margin-top:20px;">
              <div class="row">
                <div class="col-sm-9">
                  <div class="form-group">
                    <div class="row ">
                      <div class="col-sm-6">
                        <div class="row">
                          <div class="col-sm-2">
                            <label for="inputFirstName" class="label" style="margin-left: 22px;
                                margin-top: 18%;">First</label>
                          </div>
                          <div class="col-sm-10"><input type="text" fullWidth nbInput id="inputFirstName"
                              placeholder="First Name" style="margin-left: -10px;"></div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row">
                          <div class="col-sm-2">
                            <label for="inputFirstName" class="label" style="margin-left: 22px;
                               margin-top: 18%;">Last</label>
                          </div>
                          <div class="col-sm-10">
                            <input type="text" fullWidth nbInput id="inputLastName" placeholder="Last Name">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12" style="margin-top:4px;">
              <div class="row">
                <div class="col-sm-9">
                  <div class="row">
                    <div class="col-sm-4" style="margin-left: 20px;">
                      <div class="fomr-group">
                        <div class="row">
                          <div class="col-sm-2">
                            <label for="" class="label">Beds</label>
                          </div>
                          <div class="col-sm-10">
                            <input type="text" fullWidth nbInput id="inputLastName">
                          </div>
                        </div>


                      </div>
                    </div>
                    <div class="col-sm-4" style="margin-left: -10px;">
                      <div class="fomr-group">
                        <div class="row">
                          <div class="col-sm-2">
                            <label for="" class="label">Bath</label>
                          </div>
                          <div class="col-sm-10">
                            <input type="text" fullWidth nbInput id="inputLastName">
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="col-sm-4" style="margin-left: -10px;">
                      <div class="fomr-group">
                        <div class="row">
                          <div class="col-sm-2">
                            <label for="" class="label">Parking</label>
                          </div>
                          <div class="col-sm-10">
                            <input type="text" fullWidth nbInput id="inputLastName">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12" style="margin-top: 20px;">
              <div class="row">
                <div class="col-sm-9">
                  <div class="row">
                    <div class="col-sm-4" style="margin-left: 20px;">
                      <div class="row">
                        <div class="col-sm-2">
                          <label for="" class="label">Floorplan</label>
                        </div>
                        <div class="col-sm-10">
                          <nb-select placeholder="Select" fullWidth [(selected)]="selectedItem">
                            <nb-option value="0">Floorplan</nb-option>
                            <nb-option value="1">Floorplan 1</nb-option>
                            <nb-option value="2">Floorplan 2</nb-option>
                            <nb-option value="3">Floorplan 3</nb-option>
                            <nb-option value="4">Floorplan 4</nb-option>
                          </nb-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4" style="margin-left: -10px;">
                      <div class="row">
                        <div class="col-sm-2">
                          <label for="" class="label">Status</label>
                        </div>
                        <div class="col-sm-10">
                          <nb-select placeholder="Select" fullWidth [(selected)]="selectedItem">
                            <nb-option value="0">Status 0</nb-option>
                            <nb-option value="1">Status 1</nb-option>
                            <nb-option value="2">Status 2</nb-option>
                            <nb-option value="3">Status 3</nb-option>
                            <nb-option value="4">Status 4</nb-option>
                          </nb-select>
                        </div>
                      </div>


                    </div>
                    <div class="col-sm-4" style="margin-left: -10px;">
                      <div class="row">
                        <div class="col-sm-2"><label for="" class="label">Facade</label></div>
                        <div class="col-sm-10">
                          <nb-select placeholder="Select" fullWidth [(selected)]="selectedItem">
                            <nb-option value="0">Facade</nb-option>
                            <nb-option value="1">Facade 1</nb-option>
                            <nb-option value="2">Facade 2</nb-option>
                            <nb-option value="3">Facade 3</nb-option>
                            <nb-option value="4">Facade 4</nb-option>
                          </nb-select>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12" style="margin-top:20px;">
              <div class="row">
                <div class="col-sm-9">
                  <div class="form-group">
                    <div class="row ">
                      <div class="col-sm-6">
                        <div class="row">
                          <div class="col-sm-2">
                            <label for="totalPrice" class="label" style="margin-left: 22px;
                                                    margin-top: 10%;">Total Price</label>
                          </div>
                          <div class="col-sm-10"><input type="text" fullWidth nbInput id="totalPrice"
                              placeholder="Total Price" style="margin-left: -10px;"></div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row">
                          <div class="col-sm-2">
                            <label for="basePrice" class="label" style="margin-left: 22px;
                                                   margin-top: 10%;">Base Price</label>
                          </div>
                          <div class="col-sm-10">
                            <input type="text" fullWidth nbInput id="basePrice" placeholder="Base Price">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-9">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="row">
                          <div class="col-sm-3">
                            <label for="" class="label" style="margin-left: 20px;">Notes</label>
                          </div>
                          <div class="col-sm-9">
                            <textarea nbInput fullWidth placeholder="Add Notes"
                              style="height: 200px;margin-left: -36px;"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-7">
                        <div class="row">
                          <div class="col-sm-12">
                            <input type="text" fullWidth nbInput id="totalPrice" placeholder="Street Address1">
                          </div>
                          <div class="col-sm-12" style="margin-top:10px;">
                            <input type="text" fullWidth nbInput id="totalPrice" placeholder="Street Address2">
                          </div>
                          <div class="col-sm-12" style="margin-top:10px;">
                            <div class="row">
                              <div class="col-sm-6">
                                <input type="text" fullWidth nbInput id="totalPrice" placeholder="City">
                              </div>
                              <div class="col-sm-6">
                                <input type="text" fullWidth nbInput id="totalPrice" placeholder="State/Province">
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12" style="margin-top:10px;">
                            <div class="row">
                              <div class="col-sm-6">
                                <input type="text" fullWidth nbInput id="totalPrice" placeholder="Postal/Zip Code">
                              </div>
                              <div class="col-sm-6">
                                <nb-select fullWidth placeholder="Select Country" [(selected)]="selectedItem">
                                  <nb-option value="0">China</nb-option>
                                  <nb-option value="1">Australia</nb-option>
                                  <nb-option value="2">England</nb-option>
                                  <nb-option value="3">Hongkong</nb-option>
                                  <nb-option value="4">New Zealand</nb-option>
                                </nb-select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </nb-tab>
      <nb-tab tabTitle="Tender">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-7">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="search" style="position: relative;
                                                    border-radius: 10px;
                                                    background: white;
                                                    width:200px;
                                                    height: 45px;
                                                    display: flex;
                                                    padding-left: 15px;
                                                    padding-right: 15px;
                                                    box-shadow: 0 1px 13px -4px hsla(0,0%,58%,.26);
                                                    border: 1px solid hsla(0,0%,59.2%,.15);">
                        <img src="../../../../assets/images/search-outline.png" style="    
                                                    margin-left: -9px;
                                                    width: 42px;
                                                    height: 42px;">
                        <input type="text" id="totalPrice" style="
                                                    margin-left: 2px;
                                                    width: 90%;">

                      </div>

                    </div>
                    <div class="col-sm-2">
                      <button nbButton status="primary" style="margin-left: -70px;"
                        (click)="addFlag=!addFlag">Add</button>
                    </div>
                    <div class="col-sm-6">
                      <label for="" class="label">Category</label>
                      <nb-select placeholder="Select" [(selected)]="selectedItem" style="margin-left: 40px;
                                    width: 200px;">
                        <nb-option value="0">Category1</nb-option>
                        <nb-option value="1">Category2</nb-option>
                        <nb-option value="2">Category3</nb-option>
                        <nb-option value="3">Category4</nb-option>
                        <nb-option value="4">Category5</nb-option>
                      </nb-select>
                    </div>
                  </div>

                </div>
                <div class="col-sm-5">
                  <button nbButton status="warning" style="margin-left: 5px;" (click)="gotoBack()">Cancel</button>
                  <button nbButton status="success" style="margin-left: 5px;" (click)="gotoAllContacts()">Save</button>
                  <button nbButton status="info" style="margin-left: 5px;" (click)="addGenereted()">Generate
                    Tender</button>
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-8" style="margin-top: 20px;">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <table class="table table-hover table-bordered">
                          <thead>
                            <tr style="background-color: aquamarine ;">
                              <th>Cateogry</th>
                              <th>Sub Category</th>
                              <th>Item</th>
                              <th>Price</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngIf=" addFlag">
                              <td><input nbInput type="text" [(ngModel)]="new_category"></td>
                              <td><input nbInput type="text" [(ngModel)]="new_subCategory"></td>
                              <td><input nbInput type="text" [(ngModel)]="new_item">
                              </td>
                              <td><input nbInput type="text" [(ngModel)]="new_price">
                              </td>
                              <td>
                                <button nbButton status="success" (click)="addFlag=!addFlag;addCategory()">Save</button>
                                <button nbButton status="warning" (click)="addFlag=!addFlag"
                                  style="margin-left: 20px;">Cancel</button>
                              </td>
                            </tr>
                            <tr *ngFor="let categorie of categories; let i= index;">
                              <td><input nbInput type="text" [(ngModel)]="categorie.category"
                                  [disabled]="!categorie.isEditable"></td>
                              <td><input nbInput type="text" [(ngModel)]="categorie.subCategory"
                                  [disabled]="!categorie.isEditable"></td>
                              <td><input nbInput type="text" [(ngModel)]="categorie.item"
                                  [disabled]="!categorie.isEditable">
                              </td>
                              <td><input nbInput type="text" [(ngModel)]="categorie.price"
                                  [disabled]="!categorie.isEditable">
                              </td>
                              <td style="width: 250px;">
                                <div>
                                </div>
                                <button nbButton status="info" (click)="categorie.isEditable=!categorie.isEditable"
                                  *ngIf="!categorie.isEditable">Edit</button>
                                <button nbButton status="danger" (click)="deleteCategorie(i)"
                                  *ngIf="!categorie.isEditable" style="margin-left: 20px;">Delete</button>
                                <button nbButton status="success" (click)="categorie.isEditable=!categorie.isEditable"
                                  *ngIf="categorie.isEditable">Save</button>
                                <button nbButton status="warning" (click)="categorie.isEditable=!categorie.isEditable"
                                  *ngIf="categorie.isEditable" style="margin-left: 20px;">Cancel</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="row">
                        <table class="table table-bordered table-hover">
                          <thead>
                            <tr style="background-color: aquamarine ;">
                              <th>Cateogry</th>
                              <th>Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let category_total of categories_total; let i= index;">
                              <td>{{category_total.category}}</td>
                              <td>{{category_total.total}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-sm-4" style="margin-top: 20px;">
                  <table class="table table-hover table-bordered">
                    <thead>
                      <tr style="background-color: aquamarine ;">
                        <th>Name</th>
                        <th>GeneratedON</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="addGeneratedFlag">
                        <td>{{new_name}}</td>
                        <td>{{new_generatedOn}}</td>
                      </tr>
                      <tr *ngFor="let category_generated of categories_generated; let i= index;">
                        <td>{{category_generated.name}}</td>
                        <td>{{category_generated.generatedOn}}</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Checklist">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-7">
                </div>
                <div class="col-sm-5">
                  <button nbButton status="warning" style="margin-left: 5px;" (click)="gotoBack()">Cancel</button>
                  <button nbButton status="success" style="margin-left: 5px;" (click)="gotoAllContacts()">Save</button>

                </div>
              </div>
            </div>
            <div class="col-sm-12" style="margin-top: 40px;">
              <div class="container">
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr style="background-color: aquamarine ;">
                          <th>Checked</th>
                          <th>Description</th>
                          <th>Category</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td style="padding:12px;text-align: center;"><input type="checkbox"></td>
                          <td>Look for windows sinks</td>
                          <td>Bathroom</td>
                        </tr>
                        <tr>
                          <td style="padding:12px;text-align: center;"><input type="checkbox"></td>
                          <td>Leave .9mm from front</td>
                          <td>Brickwork</td>
                        </tr>
                        <tr>
                          <td style="padding:12px;text-align: center;"><input type="checkbox"></td>
                          <td>Double Check window Installation</td>
                          <td>Roofing</td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>