.search input:focus
{
    outline: none;
      border-bottom:2px solid #1200ff ;
    font-size: 20px;
}
.search input{
    border: none;
  
}
input {
 border: none;
 width: 100%;
 height: 100%;;

}
input:disabled {
    color: rgb(84, 84, 84);
    cursor: default;
    background-color:#fff
}

.table th, .table td {
     padding: 0px;
     vertical-align: middle;
     height: 50px;
     text-align: center;
}  table,th,td{
      // border: 2px solid black;
      border: 1px solid skyblue;
  }