<nb-card>
  <nb-card-header>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-5">
              <div class="search" style="position: relative;
                                                                border-radius: 10px;
                                                                background: white;
                                                                width:200px;
                                                                height: 45px;
                                                                display: flex;
                                                                padding-left: 15px;
                                                                padding-right: 15px;
                                                                box-shadow: 0 1px 13px -4px hsla(0,0%,58%,.26);
                                                                border: 1px solid hsla(0,0%,59.2%,.15);">
                <img src="../../../../assets/images/search-outline.png" style="    
                                                                margin-left: -9px;
                                                                width: 42px;
                                                                height: 42px;">
                <input type="text" id="totalPrice" style="
                                                                margin-left: 2px;
                                                                width: 90%;">
              </div>
            </div>
            <div class="col-sm-7">

            </div>
          </div>

        </div>
        <div class="col-sm-5">
          <button nbButton status="success" style="margin-left: 5px;"
            (click)="openWindow(contentTemplate)">Create</button>
          <ng-template #contentTemplate let-data let-ref="dialogRef">
            <nb-card style="width: 1200px;">
              <nb-card-header>Create Category</nb-card-header>
              <nb-card-body>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-8">
                          <div class="row">
                            <div class="col-sm-6">
                              <label for="" class="label">Name</label>
                              <input nbInput type="text" style="width: 200px;margin-left: 50px;" [(ngModel)]="new_name">
                            </div>
                            <div class="col-sm-6">
                              <label for="" class="label">Description</label>
                              <input type="text" nbInput style="width: 200px;margin-left: 50px;"
                                [(ngModel)]="new_description">
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <button nbButton status="warning" (click)="ref.close()">Cancel</button>
                          <button nbButton status="info" style="margin-left: 10px;" (click)="subSave()">Save and
                            New</button>
                          <button nbButton status="success" style="margin-left: 10px;"
                            (click)="Save();ref.close()">Save</button>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12" style="margin-top: 40px;">
                      <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-3">
                          <div class="search"
                            style="position: relative;
                                                                                                        border-radius: 10px;
                                                                                                        background: white;
                                                                                                        width:200px;
                                                                                                        height: 45px;
                                                                                                        display: flex;
                                                                                                        padding-left: 15px;
                                                                                                        padding-right: 15px;
                                                                                                        box-shadow: 0 1px 13px -4px hsla(0,0%,58%,.26);
                                                                                                        border: 1px solid hsla(0,0%,59.2%,.15);">
                            <img src="../../../../assets/images/search-outline.png" style="    
                                                                                                        margin-left: -9px;
                                                                                                        width: 42px;
                                                                                                        height: 42px;">
                            <input type="text" id="totalPrice" style="
                                                                                                        margin-left: 2px;
                                                                                                        width: 90%;">
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <button nbButton status="primary" style="margin-left: -35px;"
                            (click)="addFlag=!addFlag">Add</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12" style="margin-top: 40px;">
                      <div class="row">
                        <table class="table table-hover table-bordered">
                          <thead>
                            <tr style="background-color: aquamarine ;">
                              <th>Cateogry</th>
                              <th>Sub Category</th>
                              <th>Item</th>
                              <th>Price</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngIf=" addFlag">
                              <td><input nbInput type="text" [(ngModel)]="new_category"></td>
                              <td><input nbInput type="text" [(ngModel)]="new_subCategory"></td>
                              <td><input nbInput type="text" [(ngModel)]="new_item">
                              </td>
                              <td><input nbInput type="text" [(ngModel)]="new_price">
                              </td>
                              <td>
                                <button nbButton status="success" (click)="addFlag=!addFlag;addCategory()">Save</button>
                                <button nbButton status="warning" (click)="addFlag=!addFlag"
                                  style="margin-left: 20px;">Cancel</button>
                              </td>
                            </tr>
                            <tr *ngFor="let subcategory of subcategories; let i= index;">
                              <td><input nbInput type="text" [(ngModel)]="subcategory.category"
                                  [disabled]="!subcategory.isEditable"></td>
                              <td><input nbInput type="text" [(ngModel)]="subcategory.subCategory"
                                  [disabled]="!subcategory.isEditable"></td>
                              <td><input nbInput type="text" [(ngModel)]="subcategory.item"
                                  [disabled]="!subcategory.isEditable">
                              </td>
                              <td><input nbInput type="text" [(ngModel)]="subcategory.price"
                                  [disabled]="!subcategory.isEditable">
                              </td>
                              <td style="width: 250px;">
                                <div>
                                </div>
                                <button nbButton status="info" (click)="subcategory.isEditable=!subcategory.isEditable"
                                  *ngIf="!subcategory.isEditable">Edit</button>
                                <button nbButton status="danger" (click)="deleteCategorie(i)"
                                  *ngIf="!subcategory.isEditable" style="margin-left: 20px;">Delete</button>
                                <button nbButton status="success"
                                  (click)="subcategory.isEditable=!subcategory.isEditable"
                                  *ngIf="subcategory.isEditable">Save</button>
                                <button nbButton status="warning"
                                  (click)="subcategory.isEditable=!subcategory.isEditable"
                                  *ngIf="subcategory.isEditable" style="margin-left: 20px;">Cancel</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-sm-12" style="margin-top: 40px;margin-bottom: 30px;">
                      <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-1">
                          <label for="" class="label">Total</label>
                        </div>
                        <div class="col-sm-2">
                          <input type="text" nbInput [(ngModel)]="new_totalPrice" style="width: 200px;">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </ng-template>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-9" style="margin-top: 40px;">
          <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
            st-set-filter="myFilter" st-table="rowCollection">
          </ng2-smart-table>
        </div>


      </div>
    </div>

  </nb-card-body>
</nb-card>