<nb-card>
  <nb-card-body>
    <div class="col-sm-12" style="margin-top: 30px;">
      <div class="row">
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-3">
              <div class="search" style="position: relative;
                                                            border-radius: 10px;
                                                            background: white;
                                                            width:200px;
                                                            height: 45px;
                                                            display: flex;
                                                            padding-left: 15px;
                                                            padding-right: 15px;
                                                            box-shadow: 0 1px 13px -4px hsla(0,0%,58%,.26);
                                                            border: 1px solid hsla(0,0%,59.2%,.15);">
                <img src="../../../../assets/images/search-outline.png" style="    
                                                            margin-left: -9px;
                                                            width: 42px;
                                                            height: 42px;">
                <input type="text" id="totalPrice" style="
                                                            margin-left: 2px;
                                                            width: 90%;">
              </div>
            </div>
            <div class="col-sm-2">
              <button nbButton status="primary" style="margin-left: 5px;" (click)="openWindow()">Create</button>
            </div>
            <div class="col-sm-7">

            </div>
          </div>

        </div>
        <div class="col-sm-5">

        </div>
      </div>
    </div>
    <div style="margin-top: 50px;">
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
        st-set-filter="myFilter" st-table="rowCollection">
      </ng2-smart-table>
    </div>

  </nb-card-body>
</nb-card>