<nb-card>
  <!-- <nb-card-header>
  </nb-card-header> -->
  <nb-card-body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-6">
                  <label for="" class="label">Name</label>
                  <input nbInput type="text" style="width: 300px;margin-left: 50px;">
                </div>
                <div class="col-sm-6">
                  <label for="" class="label">Description</label>
                  <input type="text" nbInput style="width: 250px;margin-left: 50px;">
                </div>
              </div>

            </div>
            <div class="col-sm-4">
              <button nbButton status="primary" style="margin-left: 5px;">Save</button>
              <button nbButton status="primary" style="margin-left: 5px;">Cancel</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12" style="margin-top: 40px;">
          <div class="row">
            <div class="col-sm-3">
              An editable grid will do here where one can add text and stage
            </div>
            <div class="col-sm-3">
              <div class="search"
                style="position: relative;
                                                                                    border-radius: 10px;
                                                                                    background: white;
                                                                                    width:200px;
                                                                                    height: 45px;
                                                                                    display: flex;
                                                                                    padding-left: 15px;
                                                                                    padding-right: 15px;
                                                                                    box-shadow: 0 1px 13px -4px hsla(0,0%,58%,.26);
                                                                                    border: 1px solid hsla(0,0%,59.2%,.15);">
                <img src="../../../../assets/images/search-outline.png" style="    
                                                                                    margin-left: -9px;
                                                                                    width: 42px;
                                                                                    height: 42px;">
                <input type="text" id="totalPrice" style="
                                                                                    margin-left: 2px;
                                                                                    width: 90%;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12" style="margin-top: 30px;">
          <div class="row">
            <div class="col-sm-8">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Cateogry</th>
                    <th>Sub Category</th>
                    <th>Item</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Facade</td>
                    <td>Facade</td>
                    <td>Avenue</td>
                    <td>$1000</td>
                  </tr>
                  <tr>
                    <td>Site Costs</td>
                    <td>HI Slab</td>
                    <td>The item might not be required</td>
                    <td>Included</td>
                  </tr>
                  <tr>
                    <td>Site Costs</td>
                    <td>Hi Slab</td>
                    <td>Soil Report ..Show More</td>
                    <td>$1000</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        <div class="col-sm-12" style="margin-top: 30px;">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-3">
              <label for="" class="label">Total:</label>
              <input type="text" nbInput id="totalPrice" value="$11000" style="margin-left:40px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>