<nb-card>
  <nb-card-header>
    Manage Floorplans
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
      st-set-filter="myFilter" st-table="rowCollection">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>