<nb-card>
  <nb-card-header>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-5">
              <div class="search" style="position: relative;
                                                                border-radius: 10px;
                                                                background: white;
                                                                width:200px;
                                                                height: 45px;
                                                                display: flex;
                                                                padding-left: 15px;
                                                                padding-right: 15px;
                                                                box-shadow: 0 1px 13px -4px hsla(0,0%,58%,.26);
                                                                border: 1px solid hsla(0,0%,59.2%,.15);">
                <img src="../../../../assets/images/search-outline.png" style="    
                                                                margin-left: -9px;
                                                                width: 42px;
                                                                height: 42px;">
                <input type="text" id="totalPrice" style="
                                                                margin-left: 2px;
                                                                width: 90%;">
              </div>
            </div>
            <div class="col-sm-7">

            </div>
          </div>

        </div>
        <div class="col-sm-5">
          <button nbButton status="success" style="margin-left: 5px;" (click)="openWindow(contentTemplate)">Create
            Role</button>
          <ng-template #contentTemplate let-data let-ref="dialogRef">
            <nb-card style="width: 800px;">
              <nb-card-header>Create Role</nb-card-header>
              <nb-card-body>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-3">
                          <label for="Role Name">Role Name</label>
                        </div>
                        <div class="col-sm-6">
                          <input nbInput fullWidth type="text" placeholder="Role Name" [(ngModel)]="newRole"
                            style="width:350px;">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12" style="margin-top: 20px;">
                      <div class="row">
                        <div class="col-sm-3">Access</div>
                        <div class="col-sm-6">
                          <nb-select fullWidth multiple placeholder="Multiple Select" [(ngModel)]="selectedOption"
                            (change)="addRoles()" style="width:400px;">
                            <nb-option value="Create Jobs">Create Jobs</nb-option>
                            <nb-option value="Delete Jobs">Delete Jobs</nb-option>
                            <nb-option value="Readonly Jobs">Readonly Jobs</nb-option>
                            <nb-option value="Create Customer">Create Customer</nb-option>
                            <nb-option value="Delete Customer">Delete Customer</nb-option>
                            <nb-option value="Readonly Customer">Readonly Customer</nb-option>
                            <nb-option value="Create User">Create User</nb-option>
                            <nb-option value="Create Role">Create Role</nb-option>
                            <nb-option value="Delete User">Delete User</nb-option>
                            <nb-option value="Delete Role">Delete Role</nb-option>
                            <nb-option value="View Dashboard">View Dashboard</nb-option>
                          </nb-select>
                        </div>
                      </div>

                    </div>
                    <div class="col-sm-12" style="margin-top: 20px;">
                      <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                          <button nbButton status="warning" style="margin-left: 5px;"
                            (click)="goBack();ref.close()">Cancel</button>
                          <button nbButton status="success" style="margin-left: 15px;"
                            (click)="Save();ref.close()">Save</button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </ng-template>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="container">
      <div class="row">

        <div class="col-sm-1"></div>
        <div class="col-sm-9" style="margin-top: 40px;">
          <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
            st-set-filter="myFilter" st-table="rowCollection">
          </ng2-smart-table>
        </div>


      </div>
    </div>

  </nb-card-body>
</nb-card>