<nb-card>
  <nb-card-header>
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-2" style="font-size: 24px;">Manage Users</div>
          <div class="col-sm-1"></div>
          <div class="col-sm-7"></div>
          <div class="col-sm-2"><button nbButton status="success" style="margin-right: 20px;"
              (click)="CreateUser(contentTemplate)">Create</button></div>
        </div>
      </div>
    </div>

  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
      st-set-filter="myFilter" st-table="rowCollection">
    </ng2-smart-table>
    <ng-template #contentTemplate let-data let-ref="dialogRef">
      <nb-card style="width: 800px;">
        <nb-card-header>Create User</nb-card-header>
        <nb-card-body>
          <!-- <form> -->
          <div class="form-group row">
            <label for="inputEmail1" class="label col-sm-3 col-form-label">User Name</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="inputEmail1" placeholder="User Name" [(ngModel)]="new_userName">
              <!-- [ngModelOptions]="{standalone: true}"> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail1" class="label col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="inputEmail1" placeholder="Email" [(ngModel)]="new_email">
              <!-- [ngModelOptions]="{standalone: true}"> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2" class="label col-sm-3 col-form-label">Role</label>
            <div class="col-sm-9">
              <nb-select placeholder="Select" fullWidth [(selected)]="new_role" [(ngModel)]="new_role">
                <nb-option value="Administrator">Administrator</nb-option>
                <nb-option value="User">User</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2" class="label col-sm-3 col-form-label">Company</label>
            <div class="col-sm-9">
              <nb-select placeholder="Select" fullWidth [(selected)]="new_company" [(ngModel)]="new_company">
                <nb-option value="Commonwealth Bank">Commonwealth Bank</nb-option>
                <nb-option value="ABC Learning">ABC Learning</nb-option>
                <nb-option value="Adam Internet">Adam Internet</nb-option>
                <nb-option value="Aerosonde Ltd">Aerosonde Ltd</nb-option>
                <nb-option value="AGL Energy">AGL Energy</nb-option>

              </nb-select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Last Active</label>
            <div class="col-sm-9">
              <nb-checkbox [(ngModel)]="new_lastActive"></nb-checkbox>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-3">
              <button nbButton status="warning" style="margin-left: 5px;" (click)="ref.close()">Cancel</button>

            </div>
            <div class="col-sm-3">
              <button nbButton status="success" (click)="Save()">Save and New</button>
            </div>
            <div class="col-sm-3">
              <button nbButton status="info" style="margin-left: 5px;" (click)="saveManager();ref.close()">Save
                Role</button>
            </div>

          </div>
          <!-- </form> -->
        </nb-card-body>
      </nb-card>
    </ng-template>
  </nb-card-body>
</nb-card>