@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
  .table th,.table td{
          padding: 0px;
     vertical-align: middle;
     height: 50px;
     text-align: center;
   }
}
