<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="offset-sm-3 col-md-6">
        <nb-card>
          <nb-card-header>Create User</nb-card-header>
          <nb-card-body>
            <form>
              <div class="form-group row">
                <label for="inputEmail1" class="label col-sm-3 col-form-label">User Name</label>
                <div class="col-sm-9">
                  <input type="email" nbInput fullWidth id="inputEmail1" placeholder="User Name">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail1" class="label col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="email" nbInput fullWidth id="inputEmail1" placeholder="Email">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword2" class="label col-sm-3 col-form-label">Role</label>
                <div class="col-sm-9">
                  <nb-select placeholder="Select" fullWidth [(selected)]="selectedItem">
                    <nb-option value="0">Administrator</nb-option>
                    <nb-option value="1">User</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword2" class="label col-sm-3 col-form-label">Company</label>
                <div class="col-sm-9">
                  <nb-select placeholder="Select" fullWidth [(selected)]="selectedItem">
                    <nb-option value="0">Commonwealth Bank</nb-option>
                    <nb-option value="1">ABC Learning</nb-option>
                    <nb-option value="1">Adam Internet</nb-option>
                    <nb-option value="1">Aerosonde Ltd</nb-option>
                    <nb-option value="1">AGL Energy</nb-option>

                  </nb-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 label">Last Active</label>
                <div class="col-sm-9">
                  <nb-checkbox></nb-checkbox>
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-sm-3 col-sm-3">
                  <button nbButton status="warning" style="margin-left: 5px;" (click)="goBack()">Cancel</button>

                </div>
                <div class="col-sm-3">
                  <button nbButton status="success" (click)="Save()">Save and New</button>
                </div>
                <div class="col-sm-3">
                  <button nbButton status="info" style="margin-left: 5px;" (click)="saveManager()">Save
                    Role</button>
                </div>

              </div>
            </form>
          </nb-card-body>
        </nb-card>

      </div>

    </div>
  </nb-card-body>
</nb-card>